:root {
  --title-text-color: #212121;
  --secondary-background-color: #f5f4fa;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-font: "Roboto";
  --secondary-font: "Raleway";
}

body {
  color: var(--title-text-color);
  font-family: var(--primary-font), sans-serif;
  background-color: #ffffff;
}

address {
  font-style: normal;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

/* site nav, header contacts */

.site-nav-link,
.contacts-header-link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.site-nav-link:focus,
.contacts-header-link:hover,
.site-nav-link:hover,
.contacts-header-link:focus {
  color: var(--accent-color);
}
.site-nav-link.current {
  color: var(--accent-color);
}

/* hero ===studio=== */
.hero-button {
  font-family: inherit;
  cursor: pointer;
  color: #ffffff;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  background: var(--accent-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* секции ===studio===*/
.section-title.hiden {
  visibility: hidden;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.text {
  color: var(--primary-text-color);

  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.team-post {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

/* кнопки портфолио */
.btn-group .button:hover,
.btn-group .button:focus {
  color: var(--accent-color);
}

.btn-group .button {
  font-family: inherit;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}

.btn-group .button.current {
  background-color: var(--accent-color);
  color: #ffffff;
}

/* секции ===portfolio===*/
.port-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.port-line {
  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
/* footer contacts  */
.location,
.foot-mail,
.foot-phone {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.location:focus,
.foot-mail:focus,
.foot-phone:focus,
.location:hover,
.foot-mail:hover,
.foot-phone:hover {
  color: var(--accent-color);
}

.location {
  color: #ffffff;
}

.foot-mail,
.foot-phone {
  color: rgba(255, 255, 255, 0.6);
}
.footer {
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2097px;
  background: #2f303a;
}
/* логотип студии */
.logo-web,
.logo-studio {
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo-studio {
  color: #000000;
}

.logo-studio-foot {
  color: #ffffff;
}
