:root {
  --title-text-color: #212121;
  --secondary-background-color: #f5f4fa;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-font: "Roboto";
  --secondary-font: "Raleway";
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 1600px;
  color: var(--title-text-color);
  font-family: var(--primary-font), sans-serif;
  background-color: #ffffff;
}

address {
  font-style: normal;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* ===container=== */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}
/* ================================================ */

/* скрытые элементы */
.vis-hiden {
  display: none;
}

/* ===навигация сайта===, ===header=== */
.nav-link,
.contacts-header {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.nav-link:focus,
.contacts-header:hover,
.nav-link:hover,
.contacts-header:focus,
.nav-link.current {
  color: var(--accent-color);
}

.site-nav,
.header-info,
.navigation,
.main-nav.container {
  display: flex;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}
.nav-item {
  padding: 32px 0;
}

.header-info {
  margin-left: auto;
}
.nav-logo {
  padding: 24px 0 25px 0;
  margin-right: 93px;
}
/* ============================================= */

/* логотип студии */
.logo {
  color: var(--accent-color);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.logo-header {
  color: #000000;
}
.logo-footer {
  color: #ffffff;
}
/* =============================================== */

/* страница ===студия=== */

/* герой */
.hero {
  text-align: center;
  background-color: #2f303a;
  padding: 200px 0;
}

.hero-button {
  border-radius: 4px;
  border: transparent;
  display: inline-block;
  padding: 10px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #ffffff;
  background: var(--accent-color);
}

.hero-title {
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/* ========================================== */

/* заголовки секций студии */
.section-title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
/* ========================================= */

/* особенности */
.features {
  display: flex;
  padding: 94px 0;
}

.title-txt {
  padding-right: 30px;
}

.title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.text {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
/* ======================================== */

/* чем мы занимаемся */
.work {
  display: flex;
}

.work-list {
  margin-right: 30px;
  padding-bottom: 94px;
}
/* ======================================== */

/* команда */
.section.team {
  padding: 94px 0;
  background-color: var(--secondary-background-color);
}

.team {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.team-unit {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.team-title {
  padding-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.team-post {
  text-align: center;
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
/* ============================================ */

/* страница ===портфолио===*/

/* кнопки портфолио */

.button:hover,
.button:focus {
  color: var(--accent-color);
}
.button:active {
  background-color: var(--accent-color);
  color: #ffffff;
}

.filter {
  display: flex;
  justify-content: center;
  padding-top: 94px;
}

.button {
  margin-right: 8px;
  margin-bottom: 50px;
  border: transparent;
  border-radius: 4px;
  text-align: center;
  padding: 6px 22px;
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}

.button:not(:last-child) {
  margin-right: 8px;
}

/* ============================================= */

/* галерея портфолио */
.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  padding-bottom: 94px;
}

.item {
  border: 1px solid #eeeeee;
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
.port-txt {
  padding: 20px 24px;
}

.port-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.port-branch {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
/* ================================================ */

/* ===футер=== */
.footer {
  display: flex;
  flex-wrap: wrap;
  background: #2f303a;
  padding: 60px 0;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.foot-logo {
  margin-bottom: 20px;
}

/* footer contacts  */
.contacts-footer {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.contacts-footer.location {
  color: #ffffff;
}
.contacts-footer {
  color: rgba(255, 255, 255, 0.6);
}
.contacts-footer:focus,
.contacts-footer:hover {
  color: var(--accent-color);
}
/* =================== end of css ================== */
